*{
	padding-top: 0;
	margin: 0;
	box-sizing: border-box; 
}

	body{
		background-color: darkgrey;
	}

	main{
		width: 100%;
		height: 100vh;
		display: grid;
		grid-template-columns: repeat(4,1fr);
		grid-auto-rows: minmax(80px,auto);
		grid-template-areas: 
			". . . ."
			". screen screen ."
			". screen screen ."
			". screen screen ."
			". screen screen ."
			". . . ."
	}

	main .screen{
		background: url('../forest.png') no-repeat;
		background-size: cover;
		position: relative;
		color:white;
		grid-area: screen;
		display: grid;
		overflow: hidden;
		grid-template-columns: 2fr 1fr 1fr;
		grid-auto-rows: minmax(20px, auto);
	}

	.scene-1{
			grid-template-areas:
			". . ." 
			"bugsy tools tools"
			"bugsy tools tools"
			"bugsy tools tools"
			"bugsy tools tools"
			"bugsy tools tools"
			"bugsy tools tools"
			"bugsy tools tools"
			"dialog dialog dialog"
	}

	.scene-2{
		grid-template-areas:
		"tools tools tools" 
		"tools tools tools" 
		"tools tools tools" 
		"tools tools tools"
		"tools tools tools"
		"tools tools tools"
		"tools tools tools"
		"tools tools tools"
		"tools tools tools"
		"tools tools tools"
		"dialog dialog dialog"
	}

	#loadingScreen{
		z-index: 120;
		position: absolute;
		background-color: black;
		width: 100%;
		height: 100%;
		display: grid;
		overflow: hidden;
		align-items: center;
		justify-items: center;
		grid-template-columns: 1fr 3fr 1fr;
		grid-auto-rows: minmax(20px, auto);
		grid-template-areas:
			". . ." 
			". loader ."
			"loadingText loadingText loadingText"
			". . ."
			". . .";
	}

	.loadingText{
		grid-area: loadingText;
		font-weight: bolder;
		font-size: 25px;
		animation: loading 1s linear infinite;
	}

	.loader{
		grid-area: loader;
		border: 16px solid #f3f3f3;
		border-top: 16px solid green;
		border-radius: 50%;
		width: 100px;
		height: 100px;
		animation: spin 2s linear infinite;
	}

	section{
		width: 100%;
		background-color: white;
		color: black;
		z-index: 10;
		grid-area: dialog;
		display: grid;
	}

	.bugsy{
		grid-area: bugsy;
		position: relative;
	}

	.tools{
		grid-area: tools;
	}

	.tools-icons{
		width: 100%;
		height: 100%;
		display: grid;
		align-items: center;
		justify-items: center;
		grid-template-columns: 1fr 1fr;
		grid-auto-rows: minmax(75px, auto);
		grid-template-areas: 
			"inkscape autocad"
			"sai sai"
	}

	.inkscape-icon{
		grid-area: inkscape;
	}

	.autocad-icon{
		grid-area: autocad;
	}

	.sai-icon{
		grid-area: sai;
	}

	.inkscape-icon,
	.autocad-icon,
	.sai-icon{
		width: 100%;
		height: 100%;
		display: grid;
		justify-items: center;
		align-items: center;
	}

	.image-container-1{
		width: 75%;
		height: 75%;
		background-color: white;
		border-radius: 5%;
	} 

	.image-container-2{
		width: 75%;
		height: 75%;
		background-color: white;
		border-radius: 5%;
		display: grid;
		justify-items: center;
	} 

	.image-container-3{
		width: 75%;
		height: 75%;
		background-color: white;
		border-radius: 5%;
	}

	.inkscape-icon-image{
		width: 100%;
		height: 100%;
		background: url('../icons/inkscape.png') no-repeat;
		background-size: contain;
		background-position: center center;
	} 

	.autocad-icon-image{
		width: 70%;
		height: 100%;
		background: url('../icons/autocad.png') no-repeat;
		background-size: contain;
		background-position: center center;
	}

	.sai-icon-image{
		width: 100%;
		height: 100%;
		background: url('../icons/sai.png') no-repeat;
		background-size: contain;
		background-position: center center;
	}

	.bugsy-container{
		animation: blink 4s linear infinite;
		width: 100%;
		height: 100%;
		background: url('../bugsy8.png') no-repeat;
		background-size: contain;
		background-position:bottom center ;
	}

	.name, .content{
		padding: 7px;
		text-align: justify;
	}

	.name{
		border-bottom: 1px solid black;
		align-self: center;
		font-weight: bold;
	}

	.btn-container{
		display: grid;
		align-items: right;
		grid-template-columns: repeat(5,1fr);
		padding: 5px;
	}

	.btn-nextPage{
		background:transparent;
		text-align: right;
		border-width: 0;
		grid-column: 5/6;
	}

	.btn-nextPage:focus,
	.btn-nextPage:visited,
	.btn-nextPage:active,
	.btn-nextPage{
		border-color: transparent !important;
		outline: 0 none !important;
	}

	.modal-content{
		background-color: transparent;
		border:none;
		position: relative;
		bottom: 5em;
	}


	.btn-success{
		background: url('../forest.png');
		font-weight: bold;
		letter-spacing: 1px;
		text-shadow: 1.5px 1.5px black;
		border:none;
	}

	.btn-success:hover{
		transform: scale(1.03);
	}

	.appear1{
		opacity: 0;
		animation: appear 1.5s;
		animation-fill-mode: forwards;		
	}

	.appear2{
		opacity: 0;
		animation: appear 1.5s 1s;
		animation-fill-mode: forwards;
	}


	.appear3{
		opacity: 0;
		animation: appear 1.5s 2s;
		animation-fill-mode: forwards;
	}

	@media only screen and (max-width: 913px) {
		main{
			grid-template-areas:
				"screen screen screen screen" 
				"screen screen screen screen"
				"screen screen screen screen"
				"screen screen screen screen"
				"screen screen screen screen"
				"screen screen screen screen"
		}

		.scene-1{
			grid-template-areas:  
			"tools tools tools" 
			"tools tools tools" 
			"bugsy bugsy bugsy"
			"bugsy bugsy bugsy"
			"bugsy bugsy bugsy"
			"bugsy bugsy bugsy"
			"bugsy bugsy bugsy"
			"bugsy bugsy bugsy"
			"bugsy bugsy bugsy"
			"bugsy bugsy bugsy"
			"dialog dialog dialog"
		}

		.tools-icons{
			grid-template-columns: 1fr 2fr 1fr;
			grid-template-areas: 
				"inkscape sai autocad"
		}

		.image-container-1,
		.image-container-2,
		.image-container-3{
			width: 85%;
		}
	}

	@media only screen and (max-width: 361px) {
		.btn-nextPage{
			grid-column: 4/6;
		}
	}



	@keyframes blink{
	0%{
		 width: 100%
		height: 100%;
		background: url('../bugsy7.png') no-repeat;
		background-size: contain;
		background-position: bottom center;
	}
	2%{
		width: 100%
		height: 100%;
		background: url('../bugsy8.png') no-repeat;
		background-size: contain;
		background-position:bottom center;
	}

	99.5%{
		width: 100%
		height: 100%;
		background: url('../bugsy8.png') no-repeat;
		background-size: contain;
		background-position:bottom center;
	}
	100%{
		width: 100%
		height: 100%;
		background: url('../bugsy7.png') no-repeat;
		background-size: contain;
		background-position:bottom center;
	}

	}

@keyframes loading{
	from{
		opacity: 0;
	}
	to{
		opacity: 1;
	}
}

@keyframes spin{
	0%{
		transform: rotate(0deg);
	}
	100%{
		transform: rotate(360deg);
	}
}

@keyframes appear{
	0%{
		opacity: 0;
	}
	80%{
		opacity: 1;
		transform: scale(1.05);
	}
	100%{
		opacity: 1;
		transform: scale(1);
	}
}